<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Signup</title>
    </head>
    <body>
        <h1>Sign up</h1>
        <form id="signup" action="/signup" method="post">
            Name: <input type="text" name="name" value="" required><p>
            Email: <input type="email" name="email" id="email" value="" required><p>
            Password: <input type="password" name="password" value="" required><p>
            Confirm password: <input type="password" name="repassword" value="" required><p>
            <input type="button" name="" id="save" value="Signup">
        </form>
    </body>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/js/jquery.validate.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            $.validator.addMethod("pwcheck", function(value) {
               return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
                   && /[a-z]/.test(value) // has a lowercase letter
                   && /[A-Z]/.test(value) // has a uppercase letter
                   && /\d/.test(value) // has a digit
            });
            $('#signup').validate({
                rules: {
                    'repassword': {
                        equalTo: '[name="password"]'
                    },
                    'password':{
                        pwcheck: true
                    }
                },
                messages: {
                    password: {
                        pwcheck: "Type in uppercase letters, lowercase letters, and numbers."
                    }
                },
            });
            $('#save').on('click',function(){
                $.post(
                    '/dupemail',
                    { email: $('#email').val() }
                ).done(function(res){
                    if(res.status){
                        alert(res.msg);
                        $('#email').select();
                    }else{
                        $('#signup').submit();
                    }
                }).fail(function(err){
                    alert(err.status + ' ' + err.responseText);
                });
            });
            <% if(messages.warn) { %>
                alert('<%=messages.warn%>');
            <%
                }
            %>
        });
    </script>
</html>
